## [Start] Set the primary key. **
$util.qr($ctx.stash.metadata.put("modelObjectKey", {
  "code": $util.dynamodb.toDynamoDB($ctx.args.code),
  "email": $util.dynamodb.toDynamoDB($ctx.args.email)
}))
## [End] Set the primary key. **
{}